<div id="Galleries" class="galleries">
    <div class="gallery1"><%- include('../views/gallery1'); %></div>
    <div class="gallery2"><%- include('../views/gallery2'); %></div>
    <div class="gallery3"><%- include('../views/gallery3'); %></div>
    <div class="gallery4"><%- include('../views/gallery4'); %></div>
    <div class="gallery5"><%- include('../views/gallery5'); %></div>
</div>