<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="stylesheets/main.css">
        <title>My Blog & Gallery title here</title>
    </head>
    <body>
        <!-- Tab links -->
        <nav class="tab">
            <button class="tablinks" onclick="openTab(event, 'Main')" id="defaultOpen">Main</button>
            <div class="dropdown1">
                <button class="tablinks" onclick="openTab(event, 'Gallery')">Gallery</button>
                <div class="dropdown1-content">
                    <a href="#">Chapter 1</a>
                    <a href="#">Chapter 2</a>
                    <a href="#">Chapter 3</a>
                    <a href="#">Chapter 4</a>
                    <a href="#">Chapter 5</a>
                </div>
            </div>
            <div class="dropdown2">
                <button class="tablinks" onclick="openTab(event, 'Profile')">Profile</button>
                <div class="dropdown2-content">
                    <a href="#">About Artist</a>
                    <a href="#">Achievements</a>
                    <a href="#">Timeline</a>
                </div>
            </div>
            <button class="tablinks" onclick="openTab(event, 'References')">References</button>
            <button class="tablinks" onclick="openTab(event, 'Contact')">Contact</button>
            <a href="/admin">Backdoor</a>
        </nav>
        <!-- Tab content -->
        <div id="Main" class="tabcontent">
            <%- include('../views/main'); %>
        </div>
        <div id="Gallery" class="tabcontent">
            <%- include('../views/gallery'); %>
        </div>
        <div id="Profile" class="tabcontent">
            <%- include('../views/profile'); %>
        </div>
        <div id="References" class="tabcontent">
            <%- include('../views/references'); %>
        </div>
        <div id="Contact" class="tabcontent">
            <%- include('../views/contact'); %>
        </div>
    </body>
    <footer class="footer">
        <div class="footerContainer">
            <p class="copyright">All rights reserved ©</p>
        </div>
    </footer>
    <script src="app/tabs.js"></script>
    <script> 
        document.getElementById("defaultOpen").click();
    </script>
</html>