<div id="stage">
    <img src="../images/eqag5uF0PmQ.jpg" class="slide">
    <img src="../images/f9Qm_NEuVJY.jpg" class="slide">
    <img src="../images/P2TIXADqcFU.jpg" class="slide">
    <img src="../images/PQ4KXiYoEC4.jpg" class="slide">
    <img src="../images/ttSUO_MuwAI.jpg" class="slide">
</div>
<script src="app/carousel.js"></script>