<div class="profilemast">
    <img src="/images/BNgZ.gif" width="84%">
</div>
<% var x = articles.filter((item) => item.category !== 'references') %>
<% for (i=0; i < x.length; i++){ %>
    <p><%= x[i].title %><br></p>
    <p><%= x[i].content %><br></p>
<% } %>
