body {
    margin: 0;
    font-family: 'Montserrat', sans-serif, "Arial"; 
}

/* Style the tab */
.tab {
    background-color: #f1f1f1;
    position: sticky;
    top: 0;
    padding: 0;
    width: 100%;
    z-index: 0;
}

/* Style the buttons that are used to open the tab content */
.tablinks {
    position: relative;
    display: inline-block;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100px;
    height: 50px;
    transition: 0.3s;
    font-family: "GothamPro";
    font-size: 16px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown1, .dropdown2 { 
    position: relative;
    display: inline-block;
}

.dropdown1-content, .dropdown2-content {
    display: none;
    position: absolute;
    float: none;
    z-index: 1;
}
/* Links inside the navbar */
.dropdown1-content a, .dropdown2-content a {
    display: inline-block;
    padding: 6px;
    background-color: #f1f1f1;
    min-width: 88px;
    float: none;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    color: black;
}

/*Change background color of buttons on hover */
.tab button:hover, .dropdown1-content a:hover, .dropdown2-content a:hover {
    background-color: #ddd;
}

.dropdown1:hover .dropdown1-content, .dropdown2:hover .dropdown2-content {
    display: block;
    position: absolute;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: block;
    /*margin-top: 50px;*/
    animation: fadeEffect 1s;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.footer {
    width: 100%;
    font-size: 10px;
    text-align: center;
    height: 30px;
    background-color: #f1f1f1;
    position: sticky;
    bottom: 0;
    padding: 10px;
    z-index: 1;
}

.slide {
    width: 100%;
    height: 86%;
    /*width: 360px;
    height: 270px;*/
}

#stage img {
    position: absolute;
    /*padding: 10px;
    border: 1px solid #ccc;
    background: #fff;*/
}

#stage img:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 4s;
    animation-duration: 1s;
    z-index: 20;
}

#stage img:nth-of-type(2) {
    z-index: 10;
}

#stage img:nth-of-type(n+3) {
    display: none;
    z-index: 10;
}

@keyframes fader {
    from { opacity: 1.0; }
    to   { opacity: 0.0; }
}